.update-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    height: 30vh;
    flex-direction: column;
    color: #7b6767 !important;
    box-shadow: 0px 0px 5px #CCC;
    font-family: sans-serif;
    text-align: left;
    font-size: 12px;
}


.form-update {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    /* margin-bottom: 20px; */
    /* font-size: 12px; */

    /* text-align: left; */
}


.update-button {
    margin-top: 10px;
}
